<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>locationName</key>
		<string>Ploc1</string>
		<key>latitude</key>
		<string>1</string>
		<key>longitude</key>
		<string>1</string>
		<key>accuracy</key>
		<string>1</string>
		<key>date</key>
		<date>2012-11-03T07:01:06Z</date>
	</dict>
	<dict>
		<key>locationName</key>
		<string>pLoc2</string>
		<key>latitude</key>
		<string>2</string>
		<key>longitude</key>
		<string>2</string>
		<key>accuracy</key>
		<string>3</string>
		<key>date</key>
		<date>2012-11-03T07:01:06Z</date>
	</dict>
</array>
</plist>
